/* Reset default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.menu-section {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.menu-section h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.1em;
  color: #555;
}

.item2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
  color: #555;
}

.item label {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item input[type="checkbox"] {
  transform: scale(1.3);
  margin-left: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:focus {
  outline: 2px solid #0056b3;
}

#total p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

#totalPrice {
  font-weight: bold;
  color: #28a745;
}

input[type="text"] {
  width: calc(100% - 15px);
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 8px;
}

#modifications button {
  width: calc(25% - 5px);
}

#total button {
  width: calc(50% - 5px);
}

button:last-child {
  background-color: #28a745;
}

button:last-child:hover {
  background-color: #218838;
}

#currentDate {
  font-weight: bold;
  color: #333;
  margin-left: 5px;
}

.total-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

span {
  font-weight: bold;
  color: #555;
}

#modifications button {
  background-color: #007bff;
  color: #333;
}

#modifications button:hover {
  background-color: #007bff;
}
